.transform {
  width: 200px;
  height: 200px;
  background-color: green;
  margin-top: 20%;
  margin-left: 20%;
  font-family: "Times New Roman", Times, serif;
  transition: rotate 0.5s ease;
}

.transform:active {
  rotate: 45deg;
}
