.hot-news {
  height: 250px;
  width: 300px;
}

.img-container {
  position: relative;
  width: 100%;
  height: auto;
}

.img {
  height: 250px;
  width: 300px;
}
.icon-container {
  background-color: rgba(4, 4, 4, 0.6);
  color: white;
  height: 50px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon-eye {
  background-color: rgb(231, 154, 12);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
}
